<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeeview.user.dao.UserDao">

	<insert id="join" parameterType="com.coffeeview.user.entity.User">
		insert into user (id, email, password, nickname)
		values (#{id}, #{email}, #{password}, #{nickname})
	</insert>

	<select id="login" resultType="com.coffeeview.user.entity.User">
		select *
		from user
		where email=#{email} and
		password=#{password}
	</select>

	<select id="emailCheck" resultType="int">
		select count(*) from user where
		email=#{userEmail}
	</select>

	<select id="nicknameCheck" resultType="int">
		select count(*) from user where
		nickname=#{userNickname}
	</select>

</mapper>